@{
    ViewBag.Title = "About";
}

<link href="~/Content/Aboutcss/About.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="div1">
                <img class="img" src="~/Content/Images/about.png" />
            </div>
        </div>
    </div>
</div>
<br />

<div class="container">
    <div class="row">
        <h1>關於我們</h1>
        <hr/>
        <div class="col-md-6" style="color:black;font-family: "Segoe UI", Arial, "Microsoft Jhenghei", sans-serif;">
            <h1 class="point" style="color:#3B5998; font-weight:bold; text-align:center;" >以認養代替購買<br/>以送養代替拋棄</h1>  
        </div>
        <div class="col-md-6">
           <h5 class="descr"  style="font-size:16px;  text-align:center; font-family: "Segoe UI", Arial, "Microsoft Jhenghei", sans-serif;" >
                    這是一個非官方的網站，目的是希望透過網站及APP即時分享 狗狗 &amp; 貓貓 的認養及送養資訊，
                    讓想要養寵物的各位以認養代替購買，以送養代替拋棄。
                    如果需要進行認養及送養，請參考網站中的認養及送養步驟進行認養及送養，給他們一個溫暖的家。
                    歡迎大家以認養代替購買，節省經費，又可發揮愛心。   
            </h5>
          
        </div>
    </div>
</div>

<br/>
<br/>
<section id="section_service">
    <div class="container">
        <h1>本站服務</h1>
        <hr />
        <div class="row">
            <div class="col-sm-12">
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="img_wrap">
                    <img src="~/Content/Images/service/service01.jpg" />
                </div><h3>認養平台</h3>
                <p>提供全台收容所認養資訊及iPet平台認送養資訊</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="img_wrap">
                    <img src="~/Content/Images/service/service02.jpg" />
                </div>
                <h3>多平台的認送養體驗</h3>
                <p>實現Android、iOS、Web三方平台體驗</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="img_wrap">
                    <img src="~/Content/Images/service/service03.png" />
                </div>
                <h3>便捷的寵物資訊</h3>
                <p>寵物小幫手提供實用的動物資訊</p>
            </div>
        </div>
    </div>
</section>