@{
    ViewBag.Title = "About";
}

<link href="~/Content/Aboutcss/About.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="div1">
                <img class="img" src="~/Content/Images/dog.jpg" />
            </div>
        </div>
    </div>
</div>
<br />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="div2">

                <div class="div3">
                    <h1>關於我們團隊</h1>
                    <h2>以認養代替購買，以送養代替拋棄</h2>

                    <h3>這是一個非官方的網站，目的是希望透過網站及APP即時分享 狗狗 &amp; 貓貓 的認養及送養資訊，讓想要養寵物的各位以認養代替購買，以送養代替拋棄。</h3>
                    <h3>如果需要進行認養及送養，請參考網站中的認養及送養步驟進行認養及送養，給他們一個溫暖的家。</h3>
                    <h3>歡迎大家以認養代替購買，節省經費，又可發揮愛心。</h3>
                    <br/>

                </div>
            </div>
        </div>
    </div>
</div>
