@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/PetInformationCss/PetInformationCss.css" rel="stylesheet" />
<section>
    <div class="div1">
        <h1 class="h1">啵啵照護須知</h1>
        <img class="img" src="http://i.imgur.com/v7x8OZD.jpg" />
        <p></p>
        <div class="div2 ">
            <h2>壹、鳥兒營養的疾病</h2>
            <h3>1.缺乏維生素Ａ</h3>
            <h4>原因可能是飼料過於單調，或是搭配得不對，此情形鳥兒的症狀是生長遲緩、羽毛鬆亂、運動失調等，輕微的眼睛鼻子會發炎，嚴重的可能會因此造成失明。</h4>
            <h3>2.缺乏維生素Ｄ</h3>
            <h4>飼料缺乏衛生素Ｄ或是光照不足所造成的，鳥兒會有發育不良、腳腿無力、鳥喙和爪會變軟或彎曲，會不喜歡活動且常常蹲伏在一旁，若是母鳥可能會導致產蛋數量減少。</h4>
            <h3>3.缺乏維生素Ｅ</h3>
            <h4>食物放置時間過長或是已經發霉，而導致裡頭的維生素Ｅ不足，這樣會讓幼鳥發育不良，而母鳥產下的胚胎不但發育會受阻還可能導致死亡，有的鳥兒還會有腦軟化症。</h4>
            <h3>4.鈣和磷缺乏症</h3>
            <h4>飼料成分裡缺乏適量的鈣和磷，而這樣會造成鳥兒骨骼易破碎或是易折到，幼鳥可能會出現佝僂病，而成鳥可能會有軟骨病，所以平常鈣和磷的補充非常重要。</h4>
            <h2>貳、鳥兒的腸胃疾病</h2>
            <h3>1.鳥兒便秘</h3>
            <h4>鳥兒發生便秘是因為飼料內缺乏砂石、青飼料、脂肪和水，此時的鳥兒羽毛鬆亂、煩躁不安之外，會發現牠時常做出排便的動作，卻沒有便便出來，所以平常要讓牠多喝水。</h4>
            <h3>2.鳥兒腸炎</h3>
            <h4>鳥兒的腸胃疾病通常都是由食物所引起的，得了腸炎的鳥兒會有精神不振、羽毛鬆亂，時而有排便的舉止，肛門周圍羽毛被糞便黏附，甚至會有紅腫的情形，糞便為稀釋黏稠狀。</h4>
            <h3>3.滯食疾病</h3>
            <h4>滯食是因為鳥兒吃了難以消化的粗硬食物、易發酵的飼料或是吸水後會膨脹的食物，而導致阻塞，此時的鳥兒通常食慾下降得很明顯，且會特別煩躁不安，而嗉囊會腫大。</h4>
        </div>
    </div>
</section>
