@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/PetInformationCss/PetInformationCss.css" rel="stylesheet" />
<section>
    <div class="div1">
        <a href="@Url.Action("Information", "Home")" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-arrow-left"></span> Back
        </a>
        <h1 class="h1">貓咪照護須知</h1>
        <img class="img" src="~/Content/Images/cat.jpg" />
        <p></p>
        <div class="div2">
            <h2>壹、第一次帶貓咪回家</h2>
            <h4>剛到陌生環境的貓，通常都會因為沒有安全感而緊張、想要躲藏、甚至出現攻擊性的行為。因此不論您要養的是成貓或是幼貓，在一開始帶回家的時候，都需要採取一些小措施，以幫助貓咪減低不安全感、快速適應這個新環境。</h4>
            <h2>貳、運動</h2>
            <h4>讓貓咪保持良好精神狀況以及充足的運動機會，例如提供貓抓板、貓草玩具、或是用逗貓棒和貓咪一起玩樂，不但貓咪可以運動到，主人還可以順便減肥瘦身與貓咪培養感情。也可以降低貓咪們想玩家俱的機會喔~</h4>
            <h2>參、貓咪基本儀容</h2>
            <h4>大部分的貓咪會十分重視自己是否清潔乾淨，但是還是需要主人的協助。定期幫貓咪整理儀容，是維持貓咪健康所不可欠缺的，身體健康的貓咪會有著一身光滑亮麗的毛髮。</h4>
            <h4>替貓咪整理儀容時，可以仔細注意以下幾點：</h4>
            <h4>1.眼睛是否紅腫或是分泌物過多</h4>
            <h4>2.毛髮是否黯淡無光澤、或是大量落毛、或是有跳蚤等不明蟲體</h4>
            <h4>3.口腔氣味是否強烈、有無堆積齒垢、或是牙齦是否顏色過白、牙床有無浮腫</h4>
            <h4>4.摸摸貓咪的身體，注意有沒有不尋常的腫塊、突起物、創傷、疹子、或是斑點</h4>
            <h2>肆、不該給貓咪吃的食物</h2>
            <h3>1.魚骨頭</h3>
            <h4>許多人會以為貓咪愛吃魚，就給貓咪整條魚，但是貓咪在嚥食過程中，常常會因為沒有啃碎魚骨，而導致魚刺插到喉嚨的情形，搞到最後甚至必須開刀處理。</h4>
            <h3>2.牛奶</h3>
            <h4>貓咪喝牛奶引起的拉肚子，多是因為乳糖不耐症引起，雖然可以經由適應而慢慢改善，可是必須考量，貓咪是否承受的住反反覆覆的腸胃不適與拉肚子。</h4>
            <h3>3.巧克力</h3>
            <h4>巧克力對貓咪和狗狗是有毒性的，只要一吃就會造成巧克力中毒！症狀包含抽蓄、震顫、流涎等神經症狀，以及心律不整。</h4>
            <h3>4.洋蔥</h3>
            <h4>洋蔥會讓貓咪中毒，因為其中含有讓紅血球無法凝固的成分，吃太多會造成貓咪的貧血症，呼吸困難，流口水，甚至死亡。</h4>
            <h3>5.人的食物</h3>
            <h4>人吃的食物料理，對貓咪來說營養是不均衡的，而且都會太鹹，容易造成貓咪泌尿系統的負擔，或引起疾病，所以基本上不應該給貓咪吃人吃的食物。</h4>
            <h2>伍、儀容保健重點</h2>
            <h3>1.掉毛</h3>
            <h4>貓咪時常會有落毛與毛球的問題，想要減少毛球問題，必須時常疏理貓咪的皮毛，偶爾餵食化毛膏或是控制毛球的飼料。</h4>
            <h3>2.梳毛</h3>
            <h4>建議每週至少梳毛一次，梳毛的工具可以選擇寵物專用的梳子，定時幫貓咪梳毛可以減少毛髮掉落到地板或家具上。</h4>
            <h3>3.洗澡</h3>
            <h4>貓咪都非常愛乾淨，所以一般而言，不需要太頻繁的幫貓咪洗澡。頭部以及耳朵盡量不要接觸到水，可以等身體都洗完以後，再以毛巾擦拭頭部。</h4>
            <h4>貓咪的頭部接觸到水，容易使貓咪驚嚇，增加洗澡的困難度。洗澡時請使用貓用洗毛劑，並以溫水清洗。因為貓咪較容易著涼感冒，所以可以盡可能的縮短洗澡時間，洗完後也要徹底擦乾，吹風時切勿使用過高的溫度以免燙傷貓咪。</h4>
            <h3>4.修剪指甲</h3>
            <h4>建議兩三週修剪一次，修剪的部份為指甲前端透明部分，後端有血絲部分不可剪，否則貓咪會流血。</h4>
        </div>
    </div>
</section>