@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/PetInformationCss/PetInformationCss.css" rel="stylesheet" />
<section>
    <div class="div1">
        <a href="@Url.Action("Information", "Home")" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-arrow-left"></span> Back
        </a>
        <h1 class="h1">狗狗照護須知</h1>
        <img class="img" src="~/Content/Images/dog2.jpg" />
        <p></p>
        <div class="div2">
            <h2>壹、要經常幫狗洗澡嗎?</h2>
            <h4>其實狗狗的皮膚是偏鹼性的，不像我們人類皮膚偏酸性，因此如果經常幫狗狗洗澡的話其實會破壞了狗狗皮膚上天然保護油脂，如此一來可能引發皮膚病，大約一至兩個禮拜洗一次比較適和。</h4>
            <h2>貳、狗狗需要繫狗繩</h2>
            <h4>常常有飼主認為自己可以控制狗狗，可能呼喚牠名字牠就會跑回來，但其實不帶狗繩是一件很危險的事。很多突發狀況是飼主沒辦法控制的例如狗狗打家或是突然暴衝被車撞。</h4>
            <h2>參、餵狗狗吃甜食</h2>
            <h4>別認為狗狗喜歡吃就給牠吃這是對狗狗好的方式，其實這是在傷害牠！因為狗狗的身體構造是沒辦法分解雙醣這個東西，造成無法消化，對狗狗只有壞處沒有好處。</h4>
            <h2>肆、訓練狗狗上廁所</h2>
            <h3>1.了解狗狗排便信號</h3>
            <h4>它們會誇張的在地上聞來聞去，轉圈兒，然後就跟要選地兒似的走來走去半天。才會擺出要拉屎的姿勢。</h4>
            <h3>2.讓狗瞭解便便的地方</h3>
            <h4>你先在你希望他大小便的地方撲多一點報紙，使涵蓋的區域變大，接著你就在旁邊觀察牠，陪他在那些報紙玩，等他尿尿時可以大聲的誇獎他~(可以誇張點沒關係)給他一小塊乾糧啦或什麼的~~當作獎勵，~接著，你就讓他到處玩吧!待在旁邊觀察....要是尿在報紙上就要大力的誇獎他，尿錯的話要嚴厲的斥責他，並且用報紙捲成的紙棒打他(千萬不要打太用力喔,輕輕的,這只是向他表達"亂尿尿會被打")，在把他抱去報紙那邊，反覆幾次，等他知道要在報紙上尿尿大便時，你就可以開始減少報紙鋪蓋的範圍，到後來你可減為一張，如此一來,狗狗就學會在報紙上尿尿了。</h4>
            <h2>伍、狗狗不能吃的食物</h2>
            <h3>1.疏菜水果類</h3>
            <h4>a.蘋果杏仁桃子野莓苦瓜李子類梅子類：果肉不可多量，種子則是完全不能吃。因為多數瓜果類的種子含有氰化物（cyanide）。以上都可能導致下痢、嘔吐、下腹疼痛</h4>
            <h4>b.花椰菜：會刺激腸胃。</h4>
            <h4>c.櫻桃：導致呼吸急促、休克、口腔炎、心跳急促。</h4>
            <h4>d.洋菇：導致急性腸胃反應、肝臟和腎臟損傷、下腹痛、反胃噁心、嘔唾液。</h4>
            <h4>e.肉荳蔻：顫抖，甚至會死亡。</h4>
            <h4>f.洋蔥：胃腸不適、溶血性貧血。</h4>
            <h4>g.葡萄葡萄乾梅子：腎衰竭（每公斤體重攝取超過0。41盎司就有可能導致嚴重嘔吐和下痢）。</h4>
            <h3>2.巧克力</h3>
            <h4>巧克力中的咖啡鹹（Theobromine）對動物而言是種毒藥。它會使輸送部的血液流量減少，可能會造成心臟病和其他有致命威脅的問題。純度愈高的巧克力所含的咖啡鹹含量愈高，對狗的危險性也愈大。</h4>
            <h3>3.肝臟</h3>
            <h4>肝臟是狗最愛的食物之一，許多的零食或狗食都含有肝臟。吃食少量的肝臟其實對狗是不錯的，但如果過量卻可能引起營養問題。因為肝含有高單位的維他命A，吸取太多的維他命A，可能會引起維他命A中毒或維他命A過多症。</h4>
            <h3>4.骨頭</h3>
            <h4>不要餵食會碎裂的骨頭（如雞骨頭），骨頭碎片可能會刺入狗的喉嚨，或割傷狗的嘴巴，食道，胃或腸。窒息現象 慘白髮青的齒齦 喘氣 張嘴呼吸 扒捉臉部 淺弱且慢的呼吸 沒有意識，瞳孔擴大如果要餵食骨頭，應用壓力鍋將骨頭煮爛。骨髓是極佳的鈣，磷，銅攝取來源。啃咬大 骨也有助於清除牙垢。</h4>
            <h3>5.生雞蛋</h3>
            <h4>生蛋白含有一種卵白素（Avidin）的蛋白質，它會耗盡狗體內的維生素H（存在於維他命B群）。維生素H是狗生長及促進毛皮健康不可或缺的營養，此外生雞蛋通常也含有病菌，如沙門氏菌。餵食生雞蛋，到最後變成誤喂毒素給狗，更可能造成維生素H缺乏症。維生素H缺乏的徵狀掉毛虛弱 生長遲緩 骨骼畸形 煮熟的蛋對狗絕佳的零食，它含有高蛋白及其他的營養成分。只有生蛋白含有卵白素 ，如果要餵食生蛋，請只取用蛋黃，但仍須小心病菌的感染</h4>
            <h3>6.生肉及家禽肉</h3>
            <h4>狗在野外雖會獵食動物，但他們的免疫系統卻無法適應人工科學飼養出的家禽及肉類。最常見的2種毒素是家禽肉類中的沙門氏菌及肉類中的芽胞桿菌。</h4>
            <h3>7.牛奶</h3>
            <h4>許多狗都有乳糖不適症，如果你的狗喝了牛奶後會出現放屁，腹瀉，脫水或皮膚發炎等徵狀，應停止餵食牛奶。有乳糖不適症的狗應食用不含乳糖成分的牛奶，狗食或人食皆可，但人吃的成分可能不完全符合狗體所需。</h4>
        </div>
    </div>
</section>

