@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Styles.Render("~/Content/Helpcss/Help.css")



<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>寵物幫手</h2>
                <hr />
                <p class="lead">本站提供新手萌爸媽照顧萌寶貝相關資訊，以及各類萌寶貝。</p>
            </div>
        </div>
    </div>
</section>
<section class="pictures h1white" id="section_adopt">
    <div class="container">
        <div class="row">
            <div class="col-md-6 showpic1">
                <div class="text-center text-panel">
                    <a href="">
                        <h1 style="width:300px;">
                            寵物百科
                        </h1>
                    </a>
                </div>
            </div>
            <div class="col-md-6 showpic2">
                <div class="text-center text-panel">
                    <a href="">
                        <h1>FAQ</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pictures h1white" id="section_adopt">
    <div class="container">
        <div class="row">
            <div class="col-md-6 showpic3">
                <div class="text-center text-panel">
                    <a href="">
                        <h1>照護須知</h1>
                    </a>
                </div>
            </div>
            <div class="col-md-6 showpic4">
                <div class="text-center text-panel">
                    <a href="">
                        <h1>地圖搜尋</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
