@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/PetInformationCss/PetInformationCss.css" rel="stylesheet" />
<section>
    <div class="div1">
        <h1 class="h1">兔兔照護須知</h1>
        <img class="img" src="http://i.imgur.com/dAqL9P1.jpg" />
        <p></p>
        <div class="div2 ">
            <h2>壹、如何在家放養</h2>
            <h4>兔子可以在家裡到處亂跑，但是剛開始的時候，最好先從習慣待在籠子裡。讓兔子認為籠子是她的家，並且讓牠學習使用便盆，放在兔子籠子的角落。如果他會開始使用便盆就可以開始釋放他自由的空間，讓他出來逛逛，但是千萬要小心，兔子很喜歡咬電線及書籍類，在讓他出來前請先將家裡的電線或重要物品都要收好喔！兔子想要上廁所時就會自己跑回去他習慣的廁所了。</h4>
            <h2>貳、常見疾病</h2>
            <h4>腸阻塞是兔子常見的疾病，因為兔子想到就會理毛，多少都會吃進去一點，如果遇到假懷孕的時候狀況更嚴重，跟和貓咪的習性很像，所以他們會有毛球的問題。兔子不會嘔吐把毛球吐出來，吞下過多的毛球會造成致命的腸道阻塞。如果兔子顯示出食慾喪失、糞便的形狀變小，最好去請教兔子獸醫的意見。 預防的方法：有空就多幫兔子梳毛，給小兔兔足夠的運動空間和時間，每天給足夠的新鮮乾草；在日常飲食上慢慢增加新鮮蔬菜的量，在大量換毛期或假懷孕時期，可餵食兔子青木瓜酵素(及化毛劑)或新鮮木瓜或鳳梨也是很好的選擇。</h4>
            <h2>參、日常照顧</h2>
            <h4>養兔子需定期為小兔兔檢查眼睛、鼻子、耳朵、牙齒、體重、食慾和排泄物等是否有異常，即早發現可以即早治療。</h4>
            <h2>肆、兔子的尿要怎麼清除</h2>
            <h4>有人專門賣檸檬酸或是白醋，來擦拭可以減輕兔子尿液的污垢，最主要還是每天清理會保持環境的乾淨和整潔。</h4>
            <h2>伍、要以鼓勵代替懲罰</h2>
            <h4>兔子其實是個很聰明的動物，耐心反覆教導他還是會懂，建議在教導的時候請用鼓勵的方式(如給他小點心、摸摸她的頭。)，不要用打的，她以後會對主人反感喔！ 如果要讓她學會到指定地方上廁所，將他的大便和尿味固定一個地方，他如果跑到指定地方上廁所，可以給她獎賞的小點心，他慢慢就學會瞜！ 他如果跑去咬電線，趕他走就好了，幾次之後他就會知道這樣的行為是不可以的。養兔子跟敎小朋友是一樣的，都需要耐心喔!</h4>
            <h2>陸、兔子會認人嗎?</h2>
            <h4>兔兔會認人喔!!但是沒有貓狗的明顯,因為兔子是草時性動物,有點像"認同伴", 兔子會把你當同伴,但並不一定是會把你當主人喔~~慢慢訓練他聽到名字就會跑過來喔！當他會認你的時候，看到你的出現有時候會跳起兔子舞勒~ 很高興的喔！</h4>
            <h2>柒、兔兔一定要有伴才好嗎？</h2>
            <h4>這可不一定喔！兔兔是非常有領域觀念的動物，不論公母，除非家裡頭有非常足夠的空間，可以讓他們劃地為王，不然他們再你一不留意的時候就打的你死我活喔，而且最好要分開籠子飼養，放風的時候要幫他們清理劃地的便便就會受不了摟！如果還想多養一隻，就要好好的考慮清楚了！</h4>
            <h2>八、兔兔的眼睛都是紅色的嗎？</h2>
            <h4>兔兔的眼睛不一定都是紅色的喔！兔子的身體裡含有各種色素的關係，小白兔是屬於不含色素的品種(白子因素)，瞳孔的膜(虹彩)完全沒有顏色，可以透視到裡面的血液，，而並非其眼睛本身的顏色所致。也並不是因為吃紅蘿蔔眼睛才會變紅色的喔！</h4>
         </div>
    </div>
</section>
