
@{
    ViewBag.Title = "show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>認養專區</h2>

@Html.ActionLink("收容所認養", "opAnimalList", "opAnimal", new { area = "" }, new { @class = "btn btn-info" })

@Html.ActionLink("民眾愛心送養", "ShowForAni", "aniData", new { area = "" }, new { @class ="btn btn-info" })

<br>


<br><br><br><br><br><br><br><br><br>