


.img{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
    display:block;
    margin: auto;
    width:90%;
}

.div1{
    margin:0px auto;
    height:20%;
}


.point{
    float:left;
}

.descr{
    float:left;
}

footer p {
    text-align: center;
}




section#section_service img {
  border-radius:10%;
  width: 130%;
}



section#section_service .img_wrap {
  height: 220px;
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}