@charset "UTF-8";
* {
  text-align: center;
  font-family: "微軟正黑體";
}

body {
  padding: 20px;
}
label{
  text-align: right;
}
.bkl_icon {
  width: 100px;
}

.pet {
  vertical-align: top;
  display: inline-block;
  padding: 10px;
  text-align: center;
  width: 280px;
  height: 360px;
  border: solid 1px #bbb;
  line-height: 22px;
}
.pet a {
  color: #555;
}
.pet img {
  width: 100%;
  margin-bottom: 5px;
  height:80%;
}
.pet .name {
  margin: 0;
  font-size: 18px;
}
.pet .name a {
  color: #222;
}
.pet .red {
  font-weight: 900;
  color: #d93800;
}

.pet.detail {
  display: block;
  width: 80%;
  height:auto;
  text-align: left;
  padding: 20px;
  line-height: 24px;
}
.pet.detail h4{
  text-align: left;
  font-size:16px;
}
.pet.detail img {
  width: 220px;
  display: inline-block;
  vertical-align: middle;
}
.pet.detail .infos {
  display: inline-block;
  width: calc(100% - 220px - 20px);
  vertical-align: middle;
}

