@charset "UTF-8";
html, body {
  margin: 0; 
  padding:0; 
  height: auto;
  font-size: 16px;
}

header .explore {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 16px;
  color: #f5d061;
  top: 85%;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .explore:after {
  display: block;
  content: "v";
  -webkit-transform: scaleX(1.2) scaleY(0.5);
          transform: scaleX(1.2) scaleY(0.5);
}
header .explore.at_top {
  opacity: 1;
}

nav.navbar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
   font-size:15px;
    font-weight:bold;
    font-family:'Microsoft JhengHei UI';
}
nav.navbar a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size:15px;
   font-weight:bold;
   font-family:'Microsoft JhengHei UI';
}

nav.navbar.at_top {
  background-color: transparent;
}
nav.navbar.at_top a, nav.navbar.at_top a:visited {
  color: white;
  font-size:15px;
  font-weight:bold;
  font-family:'Microsoft JhengHei UI';

}

.slider-wrapper{
  width: 100%;
  margin: auto;
  padding-right: 0px ;
  padding-left: 0px ;

}
.slider-wrapper img{
  margin:0px auto;
}

.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,  
.carousel-fade .carousel-inner .active.left,  
.carousel-fade .carousel-inner .active.right {
   opacity: 0;
}
.carousel-fade .carousel-inner .active,  
.carousel-fade .carousel-inner .next.left,  
.carousel-fade .carousel-inner .prev.right {
    opacity: 1; 
}
.carousel-fade .carousel-inner .next,  
.carousel-fade .carousel-inner .prev,  
.carousel-fade .carousel-inner .active.left,  
.carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}

.tablehower tr:hover{

  background-color: #D7ED90;
}

.tablehower a:hover{
  color: #38A4D2;
  background-color: #D7ED90;
}
.tablehower tr a{
  color:black;
  text-decoration:none;
}

@media (max-width:1100px) {
 .pictures{
  display: none;
 }
}

section#section_service img {
  border-radius:10%;
  width: 130%;
}



section#section_service .img_wrap {
  height: 220px;
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

section.pictures {
  padding: 0px;
  color: white;
}
section.pictures a{
  text-decoration: none;
}
section.pictures .col-md-6 {
  padding: 150px;
  cursor: pointer;
}
section.pictures .col-md-6:hover p {
  opacity: 0.7;
}
section.pictures .col-md-6:hover:before {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  background-size: 130% auto;
}
section.pictures .col-md-6:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-position: center center;
}
section.pictures .pic1:before {
  background-image: url(../Content/Images/adopt/pic1.jpg);
  background-size: 100% auto;
}
section.pictures .pic2:before {
  background-image: url(../Content/Images/adopt/pic2.jpg);
  background-size: 100% auto;
}
section.pictures p {
  opacity: 0.4;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.morefloat h3{
  text-decoration: none;
  float:right;
}

section#footer {
 
  box-sizing: border-box;
  /*position: absolute;*/
  bottom: 0;
  height: 300px;
  width:100%;
  background-color: #38A4D2;
  text-align: center;
  overflow: hidden;
 
}
section#footer p{
  color:#FAFBF8;
}
section#footer img{
  margin: 20px;
}
section#footer .icon {
  width: 80%;
  max-width: 300px;
  padding: 80px 0px;
}


section#footer .icon2 {
  width: 80%;
  max-width: 70px;
  padding: 80px 0px;
}

section #footer .footerp {

  font-family: "微軟正黑體";
  color: #3B5998;
}


/*cat animate*/
section#footer .cat {
  
  width: 150px;
  position: absolute;
  bottom: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

section#footer #cat_blue {
  right: 240px;
  z-index: 3;
}

section#footer #cat_grey {
  right: 100px;
}

section#footer #cat_yellow {
  right: 170px;
}

section#footer #cross {
  position: absolute;
}

.push {
  min-height: 99%;
  height: auto ;
  position: relative;

}


.scrollToTop{
  padding:10px; 
  font-weight:bold;
  text-decoration:none;
  position:fixed;
  bottom:30px;
  right:30px;
  display:none;
}
.scrollToTop:hover{
  text-decoration:none;
}



/* Common style */
.grid figure {
  border-width:9px;
  border-color:#EFEFEF;
  border-style:solid;
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  margin: -0.135em;
  max-width: 100%;
  background: #FAFBF8;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}



/*---------------*/
/***** Lily *****/
/*---------------*/

figure.effect-lily img {
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px,0, 0);
  transform: translate3d(-40px,0,0);
}

figure.effect-lily figcaption {
  top: auto;
  bottom: 0;
  height: 50%;
  text-align: left;
}

figure.effect-lily h2,
figure.effect-lily p {
  -webkit-transform: translate3d(0,40px,0);
  transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-lily p {
  color: #EFEFEF;
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
  opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.animalname{
  color:#3B5998;
}



